PORT=3000
DB_USER=user
DB_HOST=localhost
DB_NAME=email_scheduler
DB_PASSWORD=password
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

CONCURRENCY=5
HOURLY_RATE_LIMIT=100
MIN_DELAY_MS=500

# Ethereal Email Credentials (Fake SMTP for testing)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=bpiz7z2relwy54kd@ethereal.email
SMTP_PASS=1XGXhWSRTy4vPr6MNx
